[submodule "MNIST-Loader"]
	path = MNIST-Loader
	url = https://github.com/krck/MNIST-Loader.git
[submodule "mnist"]
	path = deps/mnist
	url = https://github.com/wichtounet/mnist.git
[submodule "CImg"]
	path = deps/CImg
	url = https://github.com/dtschump/CImg.git
[submodule "deps/pybind"]
	path = deps/pybind
	url = https://github.com/pybind/pybind11.git
